name: cgatcore

on: [push, pull_request]

jobs:
  build:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.11", "3.12", "3.13"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3

      - name: Cache conda
        uses: actions/cache@v3
        env:
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('conda/environments/cgat-core.yml') }}

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge,bioconda,defaults
          channel-priority: true
          miniforge-variant: Mambaforge
          use-mamba: true

      - name: Create cgat-core environment
        shell: bash -l {0}
        run: |
          mamba env create -f conda/environments/cgat-core.yml -n cgat-core
          mamba init bash
          echo "conda activate cgat-core" >> ~/.bashrc

      - name: Configure Conda Paths
        run: echo "/usr/share/miniconda3/condabin" >> $GITHUB_PATH

      - name: Show conda
        run: |
          conda info
          conda list

      - name: Debug Python Environment
        run: |
          python --version
          pip list
          openssl version

      - name: Test
        shell: bash -l {0}
        run: |
          conda activate cgat-core
          pip install .
          ./all-tests.sh


  deploy_docs:
    name: Deploy MkDocs Documentation
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install MkDocs and Dependencies
        run: |
          pip install mkdocs \
                    mkdocs-material \
                    mkdocstrings[python] \
                    pymdown-extensions \
                    mkdocs-material[imaging]

      - name: Build and Deploy MkDocs Site
        run: |
          mkdocs build
          mkdocs gh-deploy --force --clean
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
